@tailwind base;
@tailwind components;
@tailwind utilities;



.playground {
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

ol {
    list-style-type: circle;
    margin-left: 2rem;
}

h2 {
    text-align: center;
}

